/*@import "src/assets/fonts/FontAwesome/css/fontawesome.min.css";*/
/*@import "src/assets/fonts/FontAwesome/css/solid.min.css";*/


:root {
    /* Colors wood / natural colors https://material.io/resources/color/#!/?view.left=1&view.right=0&primary.color=8D6E63 */

    --color-primary-font: #ffffff;
    --color-primary-font-light: #000000;
    --color-primary-font-dark: #ffffff;
    --color-primary-background: #8c6d62;
    --color-primary-background-light: #be9c91;
    --color-primary-background-dark: #5e4238;

    --color-secondary-font: #000000;
    --color-secondary-font-light: #000000;
    --color-secondary-font-dark: #000000;
    --color-secondary-background: #37464f;
    --color-secondary-background-light: #62717b;
    --color-secondary-background-dark: #101f27;

    --color-background: #E1E2E1;
    --color-background-light: #F5F5F6;
    --color-background-dark: #c9c9c9;
}

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: var(--color-primary-font);
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    /*min-height:       calc(100% - var(--main-nav-height));*/
    width: 100%;
    padding: 0;
    margin: 0;
}


.card {
    transition: all ease-in-out .5s;
    max-width: 40em;
    margin: 1em auto 1em auto;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;

    display: grid;
    grid-column-gap: 0.5em;
    grid-template-columns: auto auto auto auto auto;
}

/* TOP NAV */
.topnav-header {
    height: 1rem;
    background-color: VAR(--color-primary-background-dark);
}

.topnav {
    overflow: hidden;
    background-color: VAR(--color-primary-background);
}

.topnav a {
  float: left;
  color:VAR(--color-primary-font);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Content */
#content {
    /*  margin-top: var(--main-nav-height);*/
    height: 100%;
    width: 100%;
}


/* Media Queries */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
    .button {
        font-size: 0.8em;
    }
}
